*{
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

body{
    padding: 0;
    margin: 0;
    display: flex;
    width: 100vw;
    height: 100vw;
    justify-content: center;
    align-items: center;
    background-color: blueviolet;
}

}
header {
    margin: 10px;
    padding: 16px;
    text-decoration-color: black;
    background-color: pink;
    
    

}
.high-scores{
    float: left;
}
.time{
    float: right;
}
h1{
    height: 100px;
    text-align: center;
    
}
.intro{
    align-content: center;
    text-align: center;
    margin: auto;
    width: 100%;
    padding:16px;
}
.question{
    display: block;
    padding:16px;
    width: 100%;
    text-align: center;
    margin: auto;

}
button{
    display: flex;
    flex-wrap: wrap;

    margin: auto;
    width: 50%;
    justify-content: center;
    padding: 16px;
    
   
}
.btn{
    align-content: center;
}